
body {
    text-align: center;
    background-color: aquamarine;
}

h1 {
    font-size: 5vh;
    margin: 2vh;
}

p{
    font-size: 2vh;
    margin: 2vh
}

main {
    text-align: center;
}

div {
    text-align: center;
    border: solid 1px;
    margin: auto;
    width: 30vw;
    margin-bottom: 2vh;
    background-color: aqua;
}

.completato {
    text-decoration: line-through;
}

form {
    margin: 2vh;
}

div p , div button {
    display: inline;
}

div button {
    float: right;
}

